<%- include("../partials/header") %>
<%- include("../partials/navbar") %>
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome To Yelpcamp!</h1>
            <p>View our hand-picked camgrounds from all over the world</p>
            <p><a href="/campgrounds/new" class="btn btn-primary btn-large">Add New campground</a></p>
        </div>
    </div>
    </header>
    <div class="row">
        <%campgrounds.forEach(function(campground){%>
        <div class="col-md-3 col-sm-6">
            <div class="img-thumbnail mb-2">
                <img src="<%=campground.image%>" style="width: 100%; height: auto;">
                <div class="caption text-center">
                    <h4><%=campground.name%></h4>
                </div>
                <p class="text-center">
                    <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">More Info</a>
                </p>
            </div>
        </div>
        <%})%>
    </div>
    <%- include("../partials/footer") %>
</div>